#logo-container{
    width: auto;
    height: 150px;
}

#mynav{
    width: auto;
    height: 150px;
}

.home-btn{
    text-align: right;
    font-size: 100px
}

#index-banner{
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-banner{
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

#menu{
    background-image: url("../img/menu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 50px;
}


.title-name{
    font-family: 'Bungee Inline', cursive;
}

#download-button{
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
}

.icon-block{
    background-color: orange;
    padding: 5px;
    height: 100px;
    width: 100px;
}

.section-help{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


#type-h{
    color: lime; 
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    /* //margin: 10px 0 0 10px; */
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 1s steps(40, end);
    font-weight: bold;
}

@keyframes type{
    0% {
        width:0ch;
    }
    100% {
        width:22ch;
    }
}

#char-container{
    width: 300px;
    height: 300px;
}