#logo-container{
    width: auto;
    height: 150px;
}

#mynav{
    width: auto;
    height: 150px;
}

#game-footer{
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#game-panel{
    width: auto;
    height: 120px;
    background-color: black;
    align-items: center;
}

.home-btn{
    text-align: right;
    font-size: 100px
}

#index-banner{
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#game-banner{
    background-image: url("../img/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

#menu{
    background-image: url("../img/menu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 50px;
}

.title-name{
    font-family: 'Bungee Inline', cursive;
}

#download-button1,#download-button2,#download-button3{
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
}

.icon-block{
    background-color: orange;
    padding: 5px;
    height: 300px;
    width: 300px;
    margin-right: 20px;
}

.section-help{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


#type-h{
    color: orangered; 
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    /* //margin: 10px 0 0 10px; */
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 1s steps(40, end);
    font-weight: bold;
}


@keyframes type{
    0% {
        width:0ch;
    }
    100% {
        width:22ch;
    }
}

#char-container1, #char-container2, #char-container3, #char-container4 {
    align-content: center;
    width: 100px;
    height: 100px;
    margin-right: 20px
}

#char-target1, #char-target2, #char-target3 {
    align-content: center;
    width: 100px;
    height: 100px;
    margin-right: 20px
}

.panelscreen{
    background-color: black;
    color: white; 
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    color: white;
    size: 10px;
    padding: 0px;
}



#char-panel1{
    background-color: white;
    width: 60px;
    height: 60px;
}